mixin intro()
  section.intro
    .container
      .intro__wrapper
        h1.intro__title Не упусти возможность войти в&nbsp;
          b прибыльную нишу
        +picture("content", "man", "png", 820, 820, "Man.")
        p.intro__description Получи все нужные навыки для заработка на&nbsp;NFT всего за&nbsp;28&nbsp;дней!
        +btn({text: "Начать зарабатывать на NFT"})(data-open-modal="feedback").btn--modal
